<!-- app/views/notes/_bookmark_button.html.erb -->
<div id="bookmark-button" data-controller="bookmark">
  <% if note.is_bookmarked? %>
    <%= simple_form_for note, remote: true, html: { method: :patch, data: { action: "submit->bookmark#handleSubmit" } } do |f| %>
      <%= f.input :is_bookmarked, as: :hidden, input_html: { value: false }, wrapper_html: { style: "margin-bottom: 0 !important"} %>
      <%= button_tag type: 'submit', class: "btn-icon", data: { controller: "tooltip", bs_toggle: "tooltip", bs_placement: "top" }, title: "Remove from library" do %>
        <i class="fa-solid fa-bookmark"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= simple_form_for note, remote: true, html: { method: :patch, data: { action: "submit->bookmark#handleSubmit" } } do |f| %>
      <%= f.input :is_bookmarked, as: :hidden, input_html: { value: true }, wrapper_html: { style: "margin-bottom: 0 !important"} %>
      <%= button_tag type: 'submit', class: "btn-icon", data: { controller: "tooltip", bs_toggle: "tooltip", bs_placement: "top" }, title: "Save to library" do %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
