<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="mt-3"><h2><%= @note.title %></h3></div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div>
        <% if @note.is_bookmarked? %>
          <%= simple_form_for @note do |f| %>
            <%= f.input :is_bookmarked, as: :hidden, input_html: { value: false } %>
            <%= f.submit "Remove Bookmark", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= simple_form_for @note do |f| %>
            <%= f.input :is_bookmarked, as: :hidden, input_html: { value: true } %>
            <%= f.submit "Bookmark", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>

    </div>
    <div class="col-6">
      <ul class="list-inline tabs-underlined mt-3">
        <li>
          <%= link_to "Notes", note_path(@note, :show => "notes"), class: "tab-underlined #{params[:show] == "notes" || params[:show].nil? ? "active" : ""}" %>
        </li>
        <li>
          <%= link_to "Transcript", note_path(@note, :show => "transcript"), class: "tab-underlined #{params[:show] == "transcript" ? "active" : ""}" %>
        </li>
      </ul>
      <div>
        <%= params[:show] == "notes" || params[:show].nil? ? raw(@memo) : @note.transcript %>
      </div>
    </div>
  </div>
</div>
