<div class="container2">
  <div id="column1">
    <iframe src="https://www.youtube.com/embed/<%= @video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <div class="mt-2"><h4><%= @note.title %></h4></div>

    <div class="text-muted"><%= number_with_delimiter(@note.view_count)%> views | <%= @note.published_at.strftime("%b %d, %Y") %> <br> <i class="fa-solid fa-user"></i> <%= @note.channel_name %>
    </div>

    <div class="bookmark-button">
      <%= render 'bookmark_button', note: @note %>
    </div>
    <div class="mt-3" data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less" data-spy="scroll" data-target="desc" id="desc-scroll">
      <p class="my-content" data-read-more-target="content" id="desc">
        <%= @note.video_description %>
      </p>

      <button data-action="read-more#toggle" class="btn btn-light">Read more</button>
    </div>
  </div>

  <!-- app/views/notes/show.html.erb -->
  <div id="column2" data-controller="tabs">
    <ul class="list-inline tabs-underlined mt-3" id="notes">
      <li>
        <%= link_to "Notes", note_path(@note, :show => "notes"), class: "tab-underlined #{params[:show] == "notes" || params[:show].nil? ? "active" : ""}", data: { action: "tabs#switchTab", tabs_target: "tab" } %>
      </li>
      <li>
        <%= link_to "Transcript", note_path(@note, :show => "transcript"), class: "tab-underlined #{params[:show] == "transcript" ? "active" : ""}", data: { action: "tabs#switchTab", tabs_target: "tab" } %>
      </li>
    </ul>
    <div>
      <% if params[:show] == "notes" || params[:show].nil? %>
      <strong class="h3" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-position="bottom" title="Generate PDF">
        <i onclick="printElement(document.getElementById('notes-or-transcript'));" class="fa-solid fa-file-pdf"></i>
      </strong>
      <% end %>
      <strong class="h3" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-position="bottom" title="Copy">
        <i class="fa-solid fa-copy" onclick="copyElement(document.getElementById('notes-or-transcript'))"></i>
      </strong>
      <div id="notes-or-transcript" data-tabs-target="content">
        <%= params[:show] == "notes" || params[:show].nil? ? raw(@memo) : simple_format(@note.transcript) %>
      </div>
    </div>
  </div>

</div>

<script>
function copyElement(element) {
  var selection = window.getSelection();
  var range = document.createRange();
  range.setStartBefore(element);
  range.setEndAfter(element);
  selection.removeAllRanges();
  selection.addRange(range);

  document.execCommand('copy');

  selection.removeAllRanges();
}

function printElement(element) {
    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

    mywindow.document.write('<html><head><title>' + document.title  + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title  + '</h1>');
    mywindow.document.write(element.innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();
}
</script>
