<div class="container">
  <div class="row">
    <div class="col-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <% if @note.is_bookmarked? %>
        <%= simple_form_for @note do |f| %>
          <%= f.input :is_bookmarked, as: :hidden, input_html: { value: false } %>
          <%= f.submit "remove bookmark", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= simple_form_for @note do |f| %>
          <%= f.input :is_bookmarked, as: :hidden, input_html: { value: true } %>
          <%= f.submit "bookmark", class: "btn btn-primary" %>
        <% end %>
      <% end %>


    </div>
    <div class="col-6">
      <%= raw(@memo) %>
    </div>
  </div>
</div>
