<div class="container2">
  <div id="column1">
      <iframe src="https://www.youtube.com/embed/<%= @video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="mt-3"><h4><%= @note.title %></h4></div>
      <div class="mt-3"><i class="fa-regular fa-eye"></i> <%= @note.view_count %> <i class="fa-solid fa-user-tie"></i> <%= @note.channel_name %></div>
      <div class="mt-3"><i class="fa-solid fa-calendar-days"></i> <%= @note.published_at.strftime("%A, %b %d") %></div>
      <div>
        <% if @note.is_bookmarked? %>
          <%= simple_form_for @note do |f| %>
            <%= f.input :is_bookmarked, as: :hidden, input_html: { value: false } %>
            <%= button_tag type: 'submit', class: "btn-icon", data: {controller: "tooltip", bs_Toggle: "tooltip", bs_Placement: "top" }, title: "Remove bookmark" do %>
                <i class="fas fa-check"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= simple_form_for @note do |f| %>
            <%= f.input :is_bookmarked, as: :hidden, input_html: { value: true } %>
            <%= button_tag type: 'submit', class: "btn-icon", data: {controller: "tooltip", bs_Toggle: "tooltip", bs_Placement: "top" }, title: "Bookmark" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="mt-3" data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
        <p class="my-content" data-read-more-target="content">
          <%= @note.video_description %>
        </p>

        <button data-action="read-more#toggle" class="btn btn-light">Read more</button>
      </div>
    </div>

    <div id = "column2" data-spy="scroll" data-target="#notes">
      <ul class="list-inline tabs-underlined mt-3" id="notes">
        <li>
          <%= link_to "Notes", note_path(@note, :show => "notes"), class: "tab-underlined #{params[:show] == "notes" || params[:show].nil? ? "active" : ""}" %>
        </li>
        <li>
          <%= link_to "Transcript", note_path(@note, :show => "transcript"), class: "tab-underlined #{params[:show] == "transcript" ? "active" : ""}" %>
        </li>
      </ul>
      <div>
          <% if params[:show] == "notes" || params[:show].nil? %>
            <strong class="h3" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-position="bottom" title="Generate PDF"><i onclick="printElement(document.getElementById('notes-or-transcript'));" class="fa-solid fa-file-pdf"></i></strong>
          <% end %>
          <strong class="h3" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-position="bottom" title="Copy"><i class="fa-solid fa-copy" onclick="copyElement(document.getElementById('notes-or-transcript'))"></i></strong>
        <div id="notes-or-transcript">
          <%= params[:show] == "notes" || params[:show].nil? ? raw(@memo) : @note.transcript %>
        </div>
      </div>
  </div>
</div>

<script>
function copyElement(element) {
  var selection = window.getSelection();
  var range = document.createRange();
  range.setStartBefore(element);
  range.setEndAfter(element);
  selection.removeAllRanges();
  selection.addRange(range);

  document.execCommand('copy');

  selection.removeAllRanges();
}

function printElement(element) {
    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

    mywindow.document.write('<html><head><title>' + document.title  + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title  + '</h1>');
    mywindow.document.write(element.innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();
}
</script>
