<div class='text-end code-wrapper'>
  <div onclick="copyElement(document.getElementById('code-block-<%= num_code_blocks %>')); changeText(document.getElementById('copy-text-<%= num_code_blocks %>'));" class='copy-code-button text-justify-right cursor-pointer'>
    <span data-controller='tooltip' data-bs-toggle='tooltip' data-bs-position='bottom' title='Copy' class='cursor-pointer'>
      <i class='fa-solid fa-copy cursor-pointer'></i>
      <span id='copy-text-<%= num_code_blocks %>' class='cursor-pointer'>Copy code</span>
    </span>
  </div>
  <pre id='code-block-<%= num_code_blocks %>' class='code-block'><%= code %></pre>
</div>
